@import url("https://fonts.googleapis.com/css2?family=Work+Sans");
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  background-color: #eceff1;
  color: #4d4d4d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
